/*========== Main Body Properties ==========*/
body {
    background: url(../images/halloweenBackground.jpg) no-repeat center fixed;
    width:auto;
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
} 

/*========== Choice Properties ========================*/
.thisChoice {
    background: orange;
}

/*========== Header Heading Tag Properties ============*/
.heading {
    color: orange;
    font-weight: bold;
    text-shadow: 2px 2px Black;
    font-size: 48px;
}
#imageGif img {
    width:400px;
}

/*========== Button Properties =============*/
#start-btn {
    margin: 0 auto;
    display:flex;
    text-align:center;
    border:2px solid black;
    color: black;
    background: orange;
}
#start-btn:hover {
    background: black;
    color:orange;
}